html,body {
	margin: 0;
	padding: 0;
}
body {
	background: url(../img/10.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: none;
}
.menu a:visited, .menu a:active{
	text-decoration: none;
	color: #fff; 
	outline: 0;
}
.jumbotron{
	background: rgba(40, 2, 2, .4);
	font-family: 'Niconne', cursive;
	padding-bottom: 0px;
	padding-top: 0px;
}
.titulo-principal, .contacto{
	color:#F7A859;
	list-style: none;
}
.titulo-principal .titulo{
	font-size: 90px;
}
.btn_menu {
	background: rgba(40, 2, 2, .4);
	color:#F7A859;
	border-radius: 0px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-left-style:none;
	border-color: #F7A859;
	border-width: 5px;
	outline: 0;    
}
.btn_menu:hover{
	background: rgba(40, 2, 2, .4);
	color: #fff;   
}
.item img {
	max-height: 450px; 
	min-width: 940px;
}
.img-thumbnail {
	background-color: #F7A859;
}
hr{
	border-color:#F7A859;
	border-width: 5px;    
}
.thumbnail{
	background: rgba(40, 2, 2, .0);
	border-style: none;
	color: #F7A859;
}
.thumbnail>.caption{
	color: #F7A859;
}
footer{
	background: rgba(40, 2, 2, 0.7);
}
@media screen and (max-width: 768px){
	.item img {
		max-height: 450px; 
		min-width: 500px;
	}
}

